@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('../../server/public/images/aitutaki-unsplash.jpg') no-repeat center center fixed;
  
  background-size: cover;
}

h1 {
  font-size: 40pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
}

h3 {
  font-size: 15pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
  /* margin-top: 10px; */
}

.App {
  text-align: center;
  font-size: 22px;
}

input.inputBox {
  font-size: 2vh;
  padding: 5px 8px 4px 8px;
  // border-radius: 3px;
  border: 1px solid #666;
  text-align: center;
  inline-size: min-content;
}

.calendarWrap {
  display: inline-block;
  position: relative;
}

.calendarElement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}

.activities-list {
  list-style: none;
  padding: 0;
  color: white;
}

.activities-list li {
  margin-bottom: 0.5rem;
}

.activities-list-item {
  display: flex;
  justify-content: space-between;
}

.inputActivities {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  margin-top: 10px;
}

.card {
  background-color: #ef9f82;
  opacity: 0.5;
  // margin: 1vh 0.5vh 1vh 0.5vh;
  // padding: 1vh;
  border: 1px solid white;

  // border-radius: 5px;
}

.card:hover{
    opacity: 1.0;
}

